</br></br></br></br>
<style>
.div{margin:0 auto; width:400px; border:0px solid #F00} 
</style>
<script>
function clickkey()
{
document.getElementById('submit').accessKey="q";
}
</script>
<body onload="document.getElementById('answer').focus();clickkey();">
<div class='div'>
    <h3>question:</h3>
<textarea cols=60 rows=5> {{question}}</textarea> </br>
<h3>answer:</h3>
<form action='/judge/{{database}}' mothod='get'>
<textarea name='answer' id='answer' cols=60 rows=10></textarea> </br>
  <!-- <input type='text' autocomplete="off" name='answer' style="width:343px;"> </input> </br> -->
  <input type='submit'  value='submit' id='submit'>(Shift+Alt+q)
</form>
this system has {{nQuestionSum}} questions</br>
all answers:{{nAnswerSum}} </br>
right:{{nRightSum}} </br>
rightpercent:{{fRightPercent}}
</div>
</body>
